Flow2/Flow2.json
[
    {
        "id": "36f0086394dfc366",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae3dc0cc19238589",
        "type": "inject",
        "z": "36f0086394dfc366",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "466545e24634cf53"
            ]
        ]
    },
    {
        "id": "466545e24634cf53",
        "type": "function",
        "z": "36f0086394dfc366",
        "name": "",
        "func": "\n// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "2830c62f5f7a0ebc",
                "718617cbf4444d83"
            ]
        ]
    },
    {
        "id": "2830c62f5f7a0ebc",
        "type": "debug",
        "z": "36f0086394dfc366",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "718617cbf4444d83",
        "type": "ui_text",
        "z": "36f0086394dfc366",
        "group": "4c6df72d858dcd8a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "La hora es:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "4c6df72d858dcd8a",
        "type": "ui_group",
        "name": "Hora",
        "tab": "9de6061226eae2ee",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9de6061226eae2ee",
        "type": "ui_tab",
        "name": "Hora",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
